[submodule "cheat/vendor/imgui"]
	path = cheat/vendor/imgui
	url = https://github.com/Taiga74164/imgui
[submodule "cheat/vendor/magic_enum"]
	path = cheat/vendor/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "cheat/vendor/json"]
	path = cheat/vendor/json
	url = https://github.com/nlohmann/json
[submodule "injector/vendor/simpleini"]
	path = injector/vendor/simpleini
	url = https://github.com/brofield/simpleini.git
[submodule "cheat/vendor/UnityResolve"]
	path = cheat/vendor/UnityResolve
	url = https://github.com/issuimo/UnityResolve.hpp
