[submodule "src/vendor/CommandMenu"]
	path = src/vendor/CommandMenu
	url = https://github.com/Taiga74164/CommandMenu
[submodule "src/vendor/src/imgui"]
	path = src/vendor/imgui
	url = https://github.com/Taiga74164/imgui.git
[submodule "src/vendor/magic_enum"]
	path = src/vendor/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "src/vendor/imgui"]
	path = src/vendor/imgui
	url = https://github.com/Taiga74164/imgui
[submodule "src/vendor/json"]
	path = src/vendor/json
	url = https://github.com/nlohmann/json
